<h1 class="welcome-title" md-dialog-title>Welcome to The Movie Game</h1>
<md-dialog-content>
  <p>You name an actor or actress from the movie on the screen.</p>

  <p>If you're right, you have to name another actor or actress in the next movie.</p>

  <p>Be careful - you can only use an actor once.</p>

  <p>Get the highest possible score and try to beat the leaders.</p>

  <p>Want a better mobile experience? Add this page to your phone's homescreen and play it as an app</p>

  <p>Good Luck.</p>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close color="primary">
    OK
  </button>
</md-dialog-actions>
