<md-card class="summary-card">
  <md-card-header>
    <md-card-title>Nice Round</md-card-title>
    <md-card-subtitle>Score: 1</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Here's who you could have guessed</p>
    <div class="casts-grid-container">
      <md-grid-list cols="3" rowHeight="282px" class="casts-grid" gutterSize=4>
        <md-grid-tile *ngFor="let cast of casts | async" class="cast-tile">
          <div class="cast-single">
            <img class="profile-image" src="http://image.tmdb.org/t/p/w185{{ cast.profile_path }}">
            <div class="info">
              <div>
                <div class="name">{{ cast.name }}</div>
                <div class="character">playing {{ cast.character }}</div>
              </div>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent">PLAY AGAIN</button>
  </md-card-actions>
</md-card>
