<md-card class="question-card">
  <md-card-header class="score">
    <div md-card-avatar class="score-content">
      0
    </div>
    <md-card-title class="score-label">Score</md-card-title>
  </md-card-header>
  <img md-card-image src="assets/images/the-kitte-runner.jpg">
  <md-card-content>
    <h3 class="big">Name an actor or actress in</h3>
    <p class="small">The Kite Runner - 2007</p>
  </md-card-content>
  <ActorInput></ActorInput>
  <md-card-actions>
    <button md-button color="accent">START OVER</button>
  </md-card-actions>
</md-card>
